{% if current_user.is_superuser %}
{% extends "admin/superuser_base.html" %}
{% else %}
{% extends "admin/normal_user.html" %}
{% endif %}

{% import "_macros.html" as macros %} {% block title %}首页{% endblock %} {% block navbar %}
<section class="content-header">
    <h1>类别列表</h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">类别管理</li>
        <li class="active">类别列表</li>
    </ol>
</section>

{% endblock %} {% block content %}
<div class="box-body pad">
    <div class="list-detials">
        <form class="delete-articles" id="delArticlesForm" method="category" action="#">
            <form class="solve problem">
                {{ form3.category_id(type='hidden') }}
            </form>
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="table-header">
                        <th>类别ID</th>
                        <th>类名</th>
                        <th>创建者</th>
                        <th>类名编辑</th>
                        <th>类别删除</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>
                            <a href="{{ url_for('main.post_view_by_category', cid=category.id) }}" target="_blank"> {{ category.id }}</a>
                           
                        </td>
                        <td class="table-checkbox-or-left">
                            <a href="{{ url_for('main.post_view_by_category', cid=category.id) }}" target="_blank"> {{ category.name }}</a>
                            
                        </td>
                        <td class="table-checkbox-or-left">
                             {{ category.author_name }}</a>        
                        </td>
                        <td>
                            <a href="{{ url_for('admin.category_edit_profile', id=category.id) }}">
                                <span class="glyphicon glyphicon-pencil" title="类名编辑"></span>
                            </a>
                        </td>
                        <td>
                            <form class="delete-category" id="delCategoryForm{{ category.id }}" method="post" action="{{ url_for('admin.category_delete', id=category.id) }}">
                                {{ form3.csrf_token }} {{ form3.category_id(type='hidden', value=category.id) }}
                                <a class="btn btn-sm btn-default" onclick="delCategory({{ category.id }})" title="删除用户">
                                    <span class="glyphicon glyphicon-trash delete-category"></span>
                                </a>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'admin.category_list') }}
    </div>
</div>
<div class="modal fade" id="deleteCategoryClickModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">确认删除该类别？</h4>
            </div>
            <div class="modal-body">
                <p>删除后不可恢复，类内所有文章将被删除，确认要删除吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a onclick="" id="deletePostClick" class="btn btn-success" data-dismiss="modal">确定</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock %} {% block scripts %}
<script>
    function delCategory(categoryId) {
        $('#deletePostClick').click(function () {
            $('#delCategoryForm' + categoryId).submit();
        });
        $('#deleteCategoryClickModel').modal();
    }

</script> {% endblock %}