{% if current_user.is_superuser %}
{% extends "admin/superuser_base.html" %}
{% else %}
{% extends "admin/normal_user.html" %}
{% endif %}

{% block title %}首页{% endblock %} 

{% block navbar %}
<section class="content-header">
    <h1>增加用户</h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">用户管理</li>
        <li class="active">增加用户</li>
    </ol>
</section>
{% endblock %} 

{% block content %}
<div class="box-body pad">
    <form method="post" id="newUserAdd" action="{{ url_for('admin.user_add') }}">
            {{ form.hidden_tag() }}
        <div class="form-group">
                {{ form.username.label }}
                {% if form.username.errors %}
                    {% for e in form.username.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.username(class_='form-control') }}
        </div>
        <div class="form-group">
                {{ form.email.label }}
                {% if form.email.errors %}
                    {% for e in form.email.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.email(class_='form-control') }}
        </div>
        <div class="form-group">
                {{ form.first_password.label }}
                {% if form.first_password.errors %}
                    {% for e in form.first_password.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.first_password(class_='form-control') }}
        </div>
        <div class="form-group">
                {{ form.second_password.label }}
                {% if form.second_password.errors %}
                    {% for e in form.second_password.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.second_password(class_='form-control') }}
        </div>
        <div>
                {{ form.is_superuser.label }}
                {{ form.is_superuser() }}
        </div>
        
    </form>
    <input class="btn btn-primary" type="button" onclick="userAdd()" value="增加">
</div>
<div class="modal fade" id="newUserAddModel">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">确认增加该用户？</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <a onclick="" id="newUserAddClick" class="btn btn-success" data-dismiss="modal">确定</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %} 

{% block scripts %}
<script>
function userAdd() {
    $('#newUserAddClick').click(function () {
        $('#newUserAdd').submit();
    });
    $('#newUserAddModel').modal();
}

</script> 
{% endblock %}